<h1 class="studentlist">LIST OF STUDENTS</h1>
<table class="list-table">
<tr>
    <td class="firstname">FIRST NAME</td>
    <td class="lastname">LAST NAME</td>
    <td class="username">USER NAME</td>
    <td class="emailid">EMAIL-ID</td>
    <td class="address">ADDRESS</td>
</tr> 
<tr>
    <td>Avi</td>
    <td>kangar</td>
    <td>aviadd44</td>
    <td>aviadd44@gmail.com</td>
    <td>Amit vihar</td>
</tr>
<tr>
    <td>Shubham</td>
    <td>kangar</td>
    <td>shubhamadd88</td>
    <td>shubhamadd88@gmail.com</td>
    <td>Nangla</td>
</tr>
<tr>
    <td>Ram</td>
    <td>Ram</td>
    <td>ramadd88</td>
    <td>ramadd88@gmail.com</td>
    <td>Gandi chowk</td>
</tr>

<tr>
    <td>Shyam</td>
    <td>Shyam</td>
    <td>shyamadd84</td>
    <td>shyamadd84@gmail.com</td>
    <td>mathura</td>
</tr>

<tr>
    <td>Keshav</td>
    <td>kangar</td>
    <td>keshavadd88</td>
    <td>keshavadd88@gmail.com</td>
    <td>vrindavan</td>
</tr>

</table>