<h1 class="studentlist">LIST OF STUDENTS</h1>
<table class="list-table">
    <tr>
        <th class="firstname">FIRST NAME</th>
        <th class="lastname">LAST NAME</th>
        <th class="username">USER NAME</th>
        <th class="emailid">EMAIL-ID</th>
        <th class="address">ADDRESS</th>
        <th class="actions">ACTIONS</th>
    </tr>
    <tr *ngFor="let student of getStudents()">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.username}}</td>
        <td>{{student.emailId}}</td>
        <td>{{student.address}}</td>
        <td ><img src="assets/email.png "  class="mail-btn" alt="" (click)="moveToMailPage(student.firstName, student.emailId)">
          <img src="assets/delete.png" class="delete-btn" alt="" (click)="delete(student.id, student.username)"></td>
    </tr>
</table>
