.log-out {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    color: white;
    text-align: center;
}

.boy-img {
    height: 2rem;
    width:  2rem;
}

.my-name{   
    margin-top: 7rem;
}

.my-course{
    margin-top: .75rem;
}

.my-info {
    font-weight: bold;
    color: blue;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
}