<nav class="navi">
    <button class="btn" (click)="moveToHome()"><i class="fa fa-home">Home</i></button>
      
    <div class="log-out"  (click)="logout()">
        <img class="boy-img" src="assets/boy.png" alt=""> 
        <div> Sign out</div>
    </div>
</nav>
<router-outlet></router-outlet>
<div>
    <div class="my-name my-info">Developed By: Avi</div>
    <div class="my-course my-info">Course & Year: BCA (Final Year)</div>
    <div class="my-course my-info">Shri Ram Group of College, Muzaffarnagar</div>
</div>

