 <!-- <strong>
    <h1 class="srgc">SRGC MAIL SERVICE</h1> 
</strong>



  <form action="" method="post" class="postal-form">
    
    <table class="login-table">
      <tr>
        <td><label for="name" class="fname"> First Name</label></td>
        <td><input type="text" name="name" id="name"></td>
      </tr>
      <tr>
        <td><label for="name" class="lname">Last Name</label></td>
        <td><input type="text" name="name" id="name"></td>
      </tr>
      <tr>
        <td><label for="address" class="address">Address</label></td>
        <td><input type="text" name="adress" id="address"></td>
      </tr>
      <tr>
        <td><label for="username" class="username"> Username</label></td>
        <td><input type="text" name="name" id="name"></td>
      </tr>
      <tr>
        <td><label for="email" class="emailid">E-Mail Id</label></td>
        <td><input type="email" name="email" id="email"></td>
      </tr>
      <tr>
        <td><input type="button" value="Log in"></td>
      </tr>    
    </table>

    
  </form> -->
 


<app-view></app-view>